<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="depth_camera" params="parent xyz">

    <link name="depth_camera_link">
      <visual>
        <geometry><box size="0.06 0.04 0.04"/></geometry>
        <material name="green"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.06 0.04 0.04" />
        </geometry>
      </collision>
    </link>

    <joint name="depth_camera_mount" type="fixed">
      <parent link="${parent}"/>
      <child link="depth_camera_link"/>
      <origin xyz="${xyz}" />
    </joint>
  </xacro:macro>

</robot>
