<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="color_material" params="name r g b a">
    <material name="${name}">
      <color rgba="${r} ${g} ${b} ${a}"/>
    </material>
  </xacro:macro>

  <!-- Define common colors -->
  <xacro:color_material name="gray" r="0.6" g="0.6" b="0.6" a="1"/>
  <xacro:color_material name="blue" r="0.2" g="0.4" b="0.8" a="1"/>
  <xacro:color_material name="black" r="0" g="0" b="0" a="1"/>
  <xacro:color_material name="darkgray" r="0.3" g="0.3" b="0.3" a="1"/>
  <xacro:color_material name="red" r="0.8" g="0.1" b="0.1" a="1"/>
  <xacro:color_material name="green" r="0.2" g="0.8" b="0.2" a="1"/>
  <xacro:color_material name="white" r="1" g="1" b="1" a="1"/>

</robot>
