<?xml version="1.0"?>
<robot name="piklet_container_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="" />

  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="base_radius" value="0.15" />
  <xacro:property name="passive_wheel_height" value="0.04" />
  <xacro:property name="passive_wheel_radius" value="0.025" />
  <xacro:property name="passive_wheel_mass" value="0.5" />
  <xacro:property name="wheel_radius" value="0.04" />
  <xacro:property name="wheel_height" value="0.02" />
  <xacro:property name="wheel_mass" value="2.5" />
  <xacro:property name="pole_length" value="0.2" />
  <xacro:property name="front_mount_length" value="0.2" />

  <!-- Include modular parts -->
  <xacro:include filename="$(find piklet_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/body.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/wheel.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/caster.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/lidar.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/depth_camera.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/gazebo.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/arm-3-dof.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/finger-2-gripper.xacro"/>
  <xacro:include filename="$(find piklet_description)/urdf/piklet_ros2_control.xacro"/>

  <!-- Base body (two plates + poles) -->
  <!-- The base footprint of the robot is located underneath the chassis -->
  <link name="base_footprint" />
  <xacro:piklet_body parent="base_footprint"/>

  <!-- Drive wheels -->
  <xacro:wheel side="right" parent="base_link" translateX="0"
    translateY="-${base_radius}"/>
  <xacro:wheel side="left" parent="base_link" translateX="0"
    translateY="${base_radius}" />

  <!-- Casters -->
  <xacro:passive_wheel_joint name="passive_wheel_front_joint"
    parent="base_link"
    child="passive_wheel_front_link">
  <origin xyz="0.115 0.0 0.007" rpy="${-M_PI/2} 0 0" />
  </xacro:passive_wheel_joint>
  <xacro:passive_wheel_link name="passive_wheel_front_link">
    <origin xyz="0 0.02 0" rpy="${M_PI/2} 0 0" />
  </xacro:passive_wheel_link>

  <xacro:passive_wheel_joint name="passive_wheel_back_joint"
    parent="base_link"
    child="passive_wheel_back_link">
    <origin xyz="-0.135 0.0 0.009" rpy="${-M_PI/2} 0 0"/>
  </xacro:passive_wheel_joint>
  <xacro:passive_wheel_link name="passive_wheel_back_link">
    <origin xyz="0.02 0.02 0 " rpy="${M_PI/2} 0 0" />
  </xacro:passive_wheel_link>

  <!-- Arm attaches to mount lower part -->
  <xacro:simple_arm parent="front_mount" base_radius="${base_radius}"/>

  <!-- 2 finger parallel gripper -->
  <xacro:parallel_gripper parent_link="arm_link_end" xyz="0.1 0 0"/>

  <!-- Sensors -->
  <xacro:lidar_sensor parent="base_top" xyz="0 0 0.030"/>

  <!-- Camera attaches on top of mount -->
  <xacro:depth_camera parent="front_mount" xyz="0 0 0.12"/> 

  <!-- Gazebo Plugins -->
  <xacro:lidar_plugin parent="lidar_link"/>
  <xacro:depth_camera_plugin parent="depth_camera_link"/>

  <!-- ros2_control -->
  <xacro:piklet_diffdrive_ros2_control name="Piklet" prefix="$(arg prefix)" />

</robot>
